.card{
	text-align: center;
	margin: 3% 0;
}	
#discount_apply{
	margin-top: 10px;
}

.td_left{
	text-align: left;
}
.td_right{
	text-align: right;
}

#checkout{
	margin-bottom: 15px;
}
.discount{
	text-decoration: line-through;
	color: red;
	font-size: 1em;
}
.price{
	font-weight: bold;
}
.product_title{
	font-weight: bold;
	font-size: 1.5em;
}
/*img{
	height: 12em;
	widows: 12em;
}*/
.underline{
	border-bottom: 1px solid black; 
}

.order_fix_size_image{

}

.order_table{
	width: 100%;
}

.button{
	margin-top: 2%;
}